services:
	-
		class: WPSyntex\Polylang\PHPStan\LanguageReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
	-
		class: WPSyntex\Polylang\PHPStan\PLLModelGetLanguagesListDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

includes:
	- ../../szepeviktor/phpstan-wordpress/extension.neon

parameters:
	bootstrapFiles:
		- bootstrap.php
	dynamicConstantNames:
		- POLYLANG_VERSION
		- PLL_ADMIN
		- PLL_SETTINGS

