includes:
	- ../vendor/szepeviktor/phpstan-wordpress/extension.neon

services:
	-
		class: WPSyntex\Polylang\PHPStan\OptionTypes
	-
		class: WPSyntex\Polylang\PHPStan\OptionsGetDynamicMethodReturnTypeExtension
		arguments:
			optionTypes: @WPSyntex\Polylang\PHPStan\OptionTypes
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: WPSyntex\Polylang\PHPStan\OptionsOffsetExpressionTypeResolverExtension
		arguments:
			optionTypes: @WPSyntex\Polylang\PHPStan\OptionTypes
		tags:
			- phpstan.broker.expressionTypeResolverExtension

parameters:
	tmpDir: %currentWorkingDirectory%/tests/tmp/phpstan-options
	bootstrapFiles:
		- ../bootstrap.php
	stubFiles:
		- ../vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	scanDirectories:
		- ../../polylang/src/Options
