includes:
	- ../vendor/szepeviktor/phpstan-wordpress/extension.neon

services:
	-
		class: WPSyntex\Polylang\PHPStan\LanguageReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
	-
		class: WPSyntex\Polylang\PHPStan\TheLanguagesFunctionReturnTypeExtension
		tags:
			- phpstan.broker.dynamicFunctionReturnTypeExtension
	-
		class: WPSyntex\Polylang\PHPStan\PLLModelGetLanguagesListDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: WPSyntex\Polylang\PHPStan\ModelLanguagesGetListDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: WPSyntex\Polylang\PHPStan\OptionsGetDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: WPSyntex\Polylang\PHPStan\Rules\DeprecatedPllSwitcherRule
		tags:
			- phpstan.rules.rule

parameters:
	bootstrapFiles:
		- ../bootstrap.php
	stubFiles:
		- ../vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	scanFiles:
		- ../stubs/pll-switcher-deprecated.php
	dynamicConstantNames:
		- POLYLANG_VERSION
		- PLL_ADMIN
		- PLL_SETTINGS
